.app {
    display: flex;
    max-width: 965px; 
    margin: 60px auto;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0.4, 0.4, 0.4, 0.4), 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 10px;
}

.sidebar {
    width: 270px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #2563eb, #1e3a8a);
}


.dependentes h4 {
    margin-bottom: 10px;
    font-weight: 600;
}

.dependentes input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    backdrop-filter: blur(6px);
}

.dependentes input::placeholder {
    color: #ddd;
}

.lista-pessoas {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.person {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.25s;
    background: rgba(255, 255, 255, 0.1);
}

.person:hover {
    transform: translateX(5px);
    background: rgba(255, 255, 255, 0.2);
}

.person .img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.btn-add {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: white;
    color: #6a11cb;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-add:hover {
    transform: scale(1.03);
    background: #f0f0f0;
}

.main {
    flex: 1;
    padding: 30px;
}

.calendar {
    background: white;
    padding: 15px;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header button {
    background: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.seta {
    width: 16px;
    height: 16px;
    object-fit: contain;
    background-color: #f0f0f0;
}

.mes {
    flex: 1;
}

.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    padding-left: -100px;
}

#dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.dia {
    height: 90px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.dia:hover {
    background: #92b0f1;
}

.numeroDia {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 4px;
}

.exameResumo {
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 20px;
    margin-bottom: 3px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.consulta {
    background: #4e73df;
    /* azul */
}

.exame {
    background: #c81c1c;
    /* verde */
}

.retorno {
    background: #f6c23e;
    /* amarelo */
    color: #000;
}

.ver-mais {
    font-size: 10px;
    color: #333;
    margin-top: 2px;
    cursor: pointer;
}

.hoje {
    background: black;
    color: white;
}

.modal-exame {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(6px);

    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-card {
    width: 380px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
    animation: modalEntrada 0.25s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-sub {
    font-size: 12px;
    color: #888;
}

.modal-header h2 {
    margin: 0;
    font-size: 20px;
}

.btn-fechar {
    border: none;
    background: #f1f1f1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.btn-fechar:hover {
    background: #ddd;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.input-group label {
    font-size: 12px;
    margin-bottom: 4px;
    color: #666;
}

.input-group input,
.input-group select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: 0.2s;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #4a6cf7;
    box-shadow: 0 0 0 3px rgba(74, 108, 247, 0.15);
    outline: none;
}

.input-row {
    display: flex;
    gap: 10px;
}

.input-row .input-group {
    flex: 1;
}

.btn-salvar {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(45deg, #4a6cf7, #6f8cff);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-salvar:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(74, 108, 247, 0.3);
}

.modal-card.consulta {
    border-top: 5px solid #4e73df;
}

.modal-card.exame {
    border-top: 5px solid #c81c1c;
    ;
}

.modal-card.retorno {
    border-top: 5px solid #f6c23e;
}

.check-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.check-list label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    cursor: pointer;
}


.mes-passado,
.mes-futuro {
    opacity: 0.3;
}

.hoje {
    background: #4a6cf7;
    color: white;
}

.exameMais {
    font-size: 11px;
    margin-top: 4px;
    color: #000000;
}


.dia-passado {
    opacity: 0.4;
    cursor: not-allowed;
}

.dia-passado:hover {
    transform: none;
}

.modal-card.grande {
    width: 450px;
    max-height: 80vh; 
    display: flex;
    flex-direction: column;
}

#listaEventos {
    overflow-y: auto;
    max-height: 60vh; 
    padding-right: 5px;
}

#listaEventos::-webkit-scrollbar {
    width: 6px;
}

#listaEventos::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

#modalLista {
    z-index: 2000;
}

#modalExame {
    z-index: 3000;
}

.evento-item {
    background: #f8f9fc;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 10px;
    position: relative;
}

.evento-tipo {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.evento-info {
    font-size: 13px;
    color: #555;
}

.evento-acoes {
    position: absolute;
    top: 10px;
    right: 10px;
}

.evento-acoes button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}

.containerEsquerdo {
    border: solid 1px black;

}


.tituloEsquerdo h1 {
    font-size: 20px;
}

.dependentes img {
    border-radius: 40px;
    width: 100px;
}


